.pagebreak { page-break-before: always; }
body {
  /*font-family: 'Source Code Pro', monospace;*/
  font-family: 'Fira Code', monospace;
  font-size: 60%;
  margin: 0 0;
  max-width: 80em;
  padding: 12px;
}
.sourceCode { 
  /*font-family: 'Fira Code', monospace;*/
  /*font-size: 1em; */
} 
td, th {
    border: 1px solid grey
}

@media print {
  /*@page { margin: 0.1cm;}*/
  body { max-width: 100%; margin: 0cm; }
  @page {
      margin-top: 0.2cm;
      margin-bottom: 0.2cm;
      margin-left: 0.2cm;
      margin-right: 0.2cm;
  }
}
