.pagebreak { page-break-before: always; }
body {
  /*font-family: 'Source Code Pro', monospace;*/
  font-family: 'Fira Code', monospace;
  font-size: 60%;
  margin: 0 0;
  max-width: 80em;
  padding: 15px;
}
.sourceCode { 
  font-family: 'Fira Code', monospace;
  font-size: 0.8em; 
} 

@media print {
  @page { margin: 0cm; margin: 0cm;}
  body { max-width: 100%; margin: 0.15cm; }
}
